.side-nav {
	margin-left: -225px;
	left: 0px;
	top: 0px;
}

.aui .nav>li>a:hover,.aui .nav>li>a:focus {
	text-decoration: none;
	background-color: #52C3F2;
}

.nav>a:hover,.nav>.active>a,.nav>.active>a:hover,.nav>.active>a:focus {
	color: #ffffff;
	background-color: #45A4CB;
}

.nav>li>a:hover,.nav>li>a:focus {
	color: #ffffff;
	background-color: #52C3F2;
}

#menuUl {
	position: relative;
	width: 150px;
	overflow-x: hidden;
	height: auto;
	float: initial;
	background-color: skyblue;
	color: #99999;
	font: bold;
}

.navbar1.navbar-inverse1 {
	position: relative;
	height: 50px;
	background-color: skyblue;
}

#page-wrapper {
	position: relative;
	width: auto;
	overflow: hidden;
	overflow-x: auto;
	width: 80%;
}

.collapse1.navbar-collapse1.navbar-ex1-collapse1 {
	background-color: skyblue;
}

.navbar-inverse1 .navbar-nav>li>a {
	background-color: skyblue;
}

.navbar-inverse1 .navbar-nav>.active>a,.navbar-inverse1 .navbar-nav>.active>a:hover,.navbar-inverse1 .navbar-nav>.active>a:focus
	{
	color: #ffffff;
	background-color: #45A4CB;
}

.navbar-inverse1 .navbar-nav>li>a:hover,.navbar-inverse1 .navbar-nav>li>a:focus
	{
	color: #ffffff;
	background-color: #52C3F2;
}

.navbar-inverse1 .navbar-nav>.open>a,.navbar-inverse1 .navbar-nav>.open>a:hover,.navbar-inverse1 .navbar-nav>.open>a:focus
	{
	color: #ffffff;
	background-color: #45A4CB;
}

body {
	font-size: 20px;
	font-weight: bold;
}

.navbar-brand {
	font-size: 28px;
	font-weight: bold;
}