#menuUl {
	position: relative;
	left: -407px;
	top: 50px;
	width: 150px;
	overflow-x: hidden;
	height: auto;
}

.navbar1.navbar-inverse1 {
	position: relative;
	height: 50px;
	background-color: skyblue;
}

#page-wrapper {
	overflow: hidden;
	overflow-x: auto;
	width: 90%;
}

.collapse1.navbar-collapse1.navbar-ex1-collapse1 {
	background-color: skyblue;
}

.navbar-inverse1 .navbar-nav>li>a {
	background-color: skyblue;
}

.navbar-inverse1 .navbar-nav>.active>a,.navbar-inverse1 .navbar-nav>.active>a:hover,.navbar-inverse1 .navbar-nav>.active>a:focus
	{
	color: #ffffff;
	background-color: #45A4CB;
}

.navbar-inverse1 .navbar-nav>li>a:hover,.navbar-inverse1 .navbar-nav>li>a:focus
	{
	color: #ffffff;
	background-color: #52C3F2;
}

.navbar-inverse1 .navbar-nav>.open>a,.navbar-inverse1 .navbar-nav>.open>a:hover,.navbar-inverse1 .navbar-nav>.open>a:focus
	{
	color: #ffffff;
	background-color: #45A4CB;
}

body {
	font-size: 20px;
	font-weight: bold;
}

.navbar-brand {
	font-size: 28px;
	font-weight: bold;
}